
body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #111;
    color: #ddd;
}


.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}


.site-header {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(135deg, #0f0, #060);
    color: #fff;
}
.tagline {
    opacity: 0.8;
    font-size: 18px;
}


h2 {
    border-left: 5px solid #0f0;
    padding-left: 10px;
    margin-top: 40px;
}


.grid {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 20px;
}

.card {
    background: #1a1a1a;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 1px solid #222;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px #0f05;
}

.card img {
    width: 100%;
    border-radius: 8px;
}


.warning {
    background: #400;
    border-left: 5px solid #f00;
    padding: 15px;
    color: #fdd;
    border-radius: 6px;
    margin-top: 20px;
}


.btn-primary {
    display: inline-block;
    background: #0f0;
    color: #000;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}

.btn-primary:hover {
    background: #0c0;
}

.center {
    text-align: center;
    margin-top: 40px;
}


.site-footer {
    margin-top: 50px;
    padding: 20px 0;
    text-align: center;
    background: #000;
    color: #888;
}

h4 {
    margin: auto;
    width: fit-content;
    padding-bottom: 10px;
    border-bottom: 2px solid #444;

}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

th {
    background-color: #1f2933;

}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #000000;
}

tr:hover {
    background-color: #0a67aa;
}

.highlight {
    background-color: #000000;
    font-weight: bold;
}

.warning {
    color: #d32f2f;
    font-weight: bold;
}

